<!--<div style="display: flex">-->
<!--  <button class="btn" (click)="changeState('isLogin')">login</button>-->
<!--  <button class="btn" (click)="changeState('isUser')">auth user</button>-->
<!--  <button class="btn" (click)="changeState('isSelectMethodPay')">select method pay</button>-->
<!--  <button class="btn" (click)="changeState('isCard')">card</button>-->
<!--  <button class="btn" (click)="changeState('isSelectCard')">select card</button>-->
<!--  <button class="btn" (click)="changeState('isBilling')">billing</button>-->
<!--  <button class="btn" (click)="changeState('isResult')">result</button>-->
<!--</div>-->

<div class="container">
  <div class="pay">
    <div class="pay-header">
      <div class="close-iframe-btn pointer" *ngIf="params.type === 'modal'">X</div>
      <div class="pay-header__logo">
        <img src="assets/zenpayments_white.png" alt="">
      </div>
      <div class="pay-header__title">
        <div class="pay-header__top">
          <h3 style="margin: 5px 0">{{form.name}}</h3>
        </div>
        <div class="pay-header__footer">
          <div *ngIf="form.is_recurring">
            Type : {{form.is_recurring ? 'Every ' + form.recurring_period_amount + ' '
            + form.recurring_period : 'No'}}
          </div>
          <div *ngIf="form.is_trial">
            Trial : {{form.is_trial ? 'Yes' : ''}}
          </div>
        </div>

        <div class="pay-header__top">
          <h3 style="margin: 0">{{form.total}}$</h3>
        </div>
      </div>
    </div>
    <ng-container *ngIf="showTopBar()">
      <div class="topbar">
        <div class="current-state pointer" (click)="back()">
          <i class="demo-icon icon-left-open">&#xe805;</i>
          <span>{{currentState.title}}</span>
        </div>
        <div class="user-info">
          <div> {{user.email}}</div>
          <div></div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="configState.isLogin" [ngTemplateOutlet]="payLogin"></ng-container>
    <ng-container *ngIf="configState.isUser" [ngTemplateOutlet]="payUser"></ng-container>
    <ng-container *ngIf="configState.isSelectMethodPay" [ngTemplateOutlet]="paySelectMethod"></ng-container>
    <ng-container *ngIf="configState.isCard" [ngTemplateOutlet]="payCard"></ng-container>
    <ng-container *ngIf="configState.isSelectCard" [ngTemplateOutlet]="paySelectCard"></ng-container>
    <ng-container *ngIf="configState.isBilling" [ngTemplateOutlet]="payBilling"></ng-container>
    <ng-container *ngIf="configState.isResult" [ngTemplateOutlet]="payResult"></ng-container>
    <ng-container *ngIf="configState.isPaidStatus" [ngTemplateOutlet]="payPaidStatus"></ng-container>
  </div>
</div>

<!--USER-->
<ng-template #payUser>
  <div class="pay-body">
    <form class="form" [formGroup]="userForm" autocomplete="off">
      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="First name"
                 formControlName="first_name" autocomplete="off"/>
          <mat-error *ngIf="isControlHasError(userForm,'first_name','required')">
            First name is required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Last name"
                 formControlName="last_name" autocomplete="off"/>
          <mat-error *ngIf="isControlHasError(userForm,'last_name','required')">
            Last name is required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email" type="email"
                 formControlName="email" autocomplete="off"/>
          <mat-error *ngIf="isControlHasError(userForm,'email','required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="isControlHasError(userForm, 'email','email')">
            Email is not valid
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>
  <button class="btn btn-primary btn-elevate" (click)="saveUser()" [disabled]="loading">
    <span style="margin-right: 10px">Pay</span>
    <mat-spinner [diameter]="20" *ngIf="loading"></mat-spinner>
  </button>
</ng-template>

<!--  LOGIN-->
<ng-template #payLogin>
  <div class="pay-body">
    <form class="form" [formGroup]="loginForm" autocomplete="off">
      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="Email" type="email"
                 formControlName="username" autocomplete="off"/>
          <mat-error *ngIf="isControlHasError(loginForm,'username','required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="isControlHasError(loginForm, 'username','email')">
            Email is not valid
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <input matInput type="password" placeholder="password"
                 formControlName="password" autocomplete="off"/>
          <mat-error *ngIf="isControlHasError(loginForm,'password','required')">
            Password is required
          </mat-error>
        </mat-form-field>
      </div>
      <!--begin::Action-->
      <!--end::Action-->
    </form>
  </div>
  <button class="btn btn-primary btn-elevate" (click)="login()" [disabled]="loading">
    <span style="margin-right: 10px">Login</span>
    <mat-spinner [diameter]="20" *ngIf="loading"></mat-spinner>
  </button>
</ng-template>

<!--SELECT Method pay -->
<ng-template #paySelectMethod>
  <div class="pay-body">
    <div *ngIf="showEditUserPanel()" class="user-info">
      <div> {{user.email}}</div>
      <div (click)="back()" class="pointer"> Edit</div>
    </div>
    <mat-list>
      <h4 style="margin: 0">Choose your preferred method</h4>
      <mat-list-item *ngFor="let method of form.methods" class="pointer" (click)="selectMethod(method)">
        <div mat-line class="d-flex-space-between">
          <div>
          <span *ngIf="method.type === 'creditcard'">
            <i class="demo-icon icon-creditcard">&#xf283;</i>
          </span>
            <span *ngIf="method.type === 'cryptocurrency'">
           <i class="demo-icon icon-crypto">&#xe800;</i>
          </span>
            <span *ngIf="method.type === 'balance'">
            <i class="demo-icon icon-wallet">&#xe802;</i>
          </span>
            <span *ngIf="method.type === 'paypal'">
            <i class="demo-icon icon-paypal">&#xf342;</i>
          </span>
            {{method.name}}
          </div>
          <i class="demo-icon icon-right-open">&#xe804;</i>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</ng-template>

<!--Card-->
<ng-template #payCard>
  <div class="pay-body">
    <ng-container *ngIf="userCards && userCards.length">
      <mat-list>
        <mat-list-item class="pointer" (click)="go('Select Card', 'isSelectCard')">
          <div mat-line>
            <span>
              <i class="demo-icon icon-creditcard">&#xf283;</i>
            </span>
            Select saved credit card
          </div>
        </mat-list-item>
      </mat-list>
    </ng-container>


    <form [formGroup]="cardForm" novalidate>
      <div class="form-group credit-card">
        <!--  <form class="form" [formGroup]="cardForm" autocomplete="off">-->
        <mat-form-field>
          <input matInput placeholder="Card number" id="cc-number" formControlName="number" type="tel"
                 autocomplete="cc-number" ccNumber #ccNumber="ccNumber">
          <span class="scheme"
                *ngIf="(ccNumber.resolvedScheme$ | async) != 'unknown'">{{ccNumber.resolvedScheme$ | async}}</span>
          <mat-error>
            Card number is not valid
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="tel" placeholder=" MM/YYYY " id="cc-exp-date" formControlName="expirationDate"
                 autocomplete="cc-exp" ccExp>
          <mat-error>
            Date is not valid
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="tel" placeholder="Cvv" id="cc-cvc" formControlName="cvv"
                 autocomplete="off" ccCvc maxLength="4">
          <mat-error>
            Cvc is not valid
          </mat-error>
        </mat-form-field>
        <mat-checkbox formControlName="save_card">Remember Card</mat-checkbox>
      </div>

    </form>
  </div>
  <!--begin::Action-->
  <button class="btn btn-primary btn-elevate" (click)="saveCard()" [disabled]="loading">
    <span style="margin-right: 10px">Pay</span>
    <mat-spinner [diameter]="20" *ngIf="loading"></mat-spinner>
  </button>
  <!--end::Action-->
</ng-template>

<!--paySelectCard-->
<ng-template #paySelectCard>
  <div class="pay-body">
    <h4 style="margin: 5px 0">Select credit card</h4>
    <mat-list>
      <mat-list-item *ngFor="let card of userCards" class="pointer" (click)="selectCard(card)">
        <div style="padding-right: 10px;"><i class="demo-icon icon-creditcard">&#xf283;</i></div>
        <div>
          <div mat-line>
            **** {{card.number_short}}
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</ng-template>

<!--payBilling-->
<ng-template #payBilling>
  <div class="pay-body">
    <form class="form" [formGroup]="billingForm" autocomplete="off">
      <div class="form-group">
        <mat-form-field>
          <input matInput type="text"
                 placeholder="Search for a countries"
                 formControlName="billing_country_obj"
                 [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                            (optionSelected)='selectCountry($event.option.value)'>
            <mat-option *ngFor="let country of filteredCountries | async" [value]="country">
              {{country.name}}
            </mat-option>
            <mat-option *ngIf="!(filteredCountries | async)?.length" disabled>
              No records found
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="isControlHasError(billingForm,'billing_country_obj','required')">
            Country field is required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Zipcode"
                 formControlName="billing_zipcode"/>
          <mat-error *ngIf="isControlHasError(billingForm,'billing_zipcode','required')">
            Zipcode field is required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Address"
                 formControlName="billing_address"/>
          <mat-error *ngIf="isControlHasError(billingForm,'billing_address','required')">
            Address field is required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="City"
                 formControlName="billing_city"/>
          <mat-error *ngIf="isControlHasError(billingForm,'billing_city','required')">
            City field is required
          </mat-error>
        </mat-form-field>
        <ng-container *ngIf="showStateUs">
          <mat-form-field>
            <mat-label>Choose state</mat-label>
            <mat-select formControlName="billing_state">
              <mat-option *ngFor="let state of states" value="{{state.code}}">
                {{state.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="isControlHasError(billingForm,'billing_state','required')">
              State field is required
            </mat-error>
          </mat-form-field>
        </ng-container>
        <ng-container *ngIf="!showStateUs">
          <mat-form-field>
            <input matInput placeholder="State"
                   formControlName="billing_state"/>
            <mat-error *ngIf="isControlHasError(billingForm,'billing_state','required')">
              State field is required
            </mat-error>
          </mat-form-field>
        </ng-container>
      </div>

    </form>
  </div>
  <!--begin::Action-->
  <button class="btn btn-primary btn-elevate" (click)="saveBilling()"
          [disabled]="loading">
    <span style="margin-right: 10px">Pay</span>
    <mat-spinner [diameter]="20" *ngIf="loading"></mat-spinner>
  </button>
  <!--end::Action-->
</ng-template>

<!--payResult-->
<ng-template #payResult>
  <div class="pay-body">
    <ng-container>
      <mat-list>
        <mat-list-item>
          <div mat-line>
            <span><i class="demo-icon icon-user">&#xe801;</i></span>
            User: {{user.email}}
          </div>
        </mat-list-item>
        <mat-list-item>
          <ng-container *ngIf="method.type === 'creditcard'">
            <div mat-line>
              <span><i class="demo-icon icon-creditcard">&#xf283;</i></span>
              Card number:
              <span *ngIf="card.number">
                {{card.number}}
              </span>
              <span *ngIf="!card.number">
              {{card.number_short ? '**** ' + card.number_short : ''}}
            </span>
            </div>
          </ng-container>
          <ng-container *ngIf="method.type != 'creditcard'">
            <div mat-line>
                <span *ngIf="method.type === 'cryptocurrency'">
                  <i class="demo-icon icon-crypto">&#xe800;</i>
                </span>
              <span *ngIf="method.type === 'balance'">
                  <i class="demo-icon icon-wallet">&#xe802;</i>
                </span>
              Pay method:  {{method.name}}
            </div>
          </ng-container>
        </mat-list-item>
        <mat-list-item>
          <div mat-line>
            Total: {{form.total}}$
          </div>
        </mat-list-item>
      </mat-list>
    </ng-container>
  </div>
  <button class="btn btn-primary btn-elevate" (click)="pay(method.type)" [disabled]="loading">
    <span style="margin-right: 10px">Pay</span>
    <mat-spinner [diameter]="20" *ngIf="loading"></mat-spinner>
  </button>
</ng-template>

<!--payPaidStatus-->
<ng-template #payPaidStatus>
  <div class="pay-body">
      <div class="pay-status-title">
        <h3>
          {{paidStatusText}}
        </h3>
      </div>
  </div>
  <button class="btn btn-primary btn-elevate" (click)="go('Result', 'isResult')" [disabled]="loading">
    <span style="margin-right: 10px">Try again</span>
    <mat-spinner [diameter]="20" *ngIf="loading"></mat-spinner>
  </button>
</ng-template>
